<!-- <h1>Router And Navigation</h1>
<nav>
<a routerLink="/web"routerLinkActive="active"><button>Web Technologies</button></a>   |
<a routerLink="/java"routerLinkActive="active"><button>Java Technology</button></a>   |
<a routerLink="/python"routerLinkActive="active"><button>Python Course</button></a>   |
<a routerLink="/angular"routerLinkActive="active"><button>Angular Course</button></a></nav>
<router-outlet></router-outlet>
<app-mahi></app-mahi>
<app-python></app-python>
<app-angular></app-angular> -->
<app-basicproj></app-basicproj>
